.msg-count {
    background-color: #ff00aa;
    border-radius: 10px 0px 0px 10px;
    padding: 5px 6px;
    float: right;
    height: 20px;
    line-height: 20px;
    text-align: center;
    font-family: monospace;
	display: none;
}

.msg-count:hover {
	background-color: pink;
}

span.visible {
	display: inline;
}